<!DOCTYPE html>
<html lang="en">

<head>
  {{>links}}
  <title>Document</title>
</head>

<body>
  <div class="allBlog P1">
    <div class="blogHead">
      <h1 class="services_taital"> <span>Blogs</span> <span style="color: #1f1f1f"></span>
    </div>
    <div class="UserBlogs UB2">
      <div class="blogsBox p2">
        <div class="blogInfoPage">
          <p>Title : <span>{{BlogData.blogTitle}}</span></p>
          <p>Short Description : <span>{{BlogData.shortDescri}}</span></p>
          <p>Description : <span>{{BlogData.description}}</span></p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>